.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}
.nave-item {
  padding: 0px 20px;
}
.nave-item > ul {
  display: flex;

  list-style-type: none;
}
.nave-item > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  color: black !important;
}
/* .body {
} */
.res-card {
  width: 200px;
  height: 300px;
  padding: 4px;
  margin: 3px;
  transition: transform 0.2s;
  border: 1px solid rgb(163, 25, 25);
}
.search {
  padding: 10px;
}
.res-img {
  width: 100px;
}
.res-card h4 {
  padding: 2px 4px;
  margin: 0px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  justify-content: space-between;
}
.filter {
  display: flex;
}
.filter-btn {
  margin: 10px;
  border-radius: 4px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  /* justify-content: space-between; */
}
.shimmer-cards {
  width: 200px;
  height: 300px;
  padding: 4px;
  margin: 3px;
  background-color: thistle;
}
.login-btn {
  padding: 10px;
  border-radius: 4px;
  height: 40px;
  width: 60px;
  background-color: cadetblue;
  color: aquamarine;
}
.product-image-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.product-image-list > li > img {
  width: 350px;
  height: 250;
}

.prod-img {
  display: none;
}
.prod-img.active {
  display: block;
}
.dot-div {
  display: flex;
  margin: 2px;
  justify-content: center;
}
.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(199, 189, 189);
  margin: 2px;
}
.dot.active {
  background-color: rgb(43, 34, 34);
}

a:link {
  text-decoration: none;
}

.user-card {
  padding: 2px;
}
